<div>
  <mat-card>
    <mat-card-title>Cadastro De Imovel:</mat-card-title>
    <form>


      <mat-form-field appearance="fill">
        <mat-label>Tem wifi?</mat-label>
        <mat-select>
          <mat-option [(ngModel)]="imovel.isWifi"  value="true">Sim</mat-option>
          <mat-option [(ngModel)]="imovel.isWifi" value="false">Não</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tem tv?</mat-label>
        <mat-select>
          <mat-option [(ngModel)]="imovel.isTV"  value="true">Sim</mat-option>
          <mat-option [(ngModel)]="imovel.isTV" value="false">Não</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tem cozinha?</mat-label>
        <mat-select>
          <mat-option [(ngModel)]="imovel.isKitchen"  value="true">Sim</mat-option>
          <mat-option [(ngModel)]="imovel.isKitchen" value="false">Não</mat-option>
        </mat-select>
      </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Descrição Detalhada</mat-label>
    <textarea matInput required
    [(ngModel)]="imovel.description"
    ></textarea>
  </mat-form-field>


  <mat-form-field  floatLabel="always">
    <mat-label>Valor da Diária</mat-label>
    <input   [(ngModel)]="imovel.price" matInput  class="example-left-align" placeholder="0">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>



</form>

<button mat-raised-button color="primary" (click)="postImovel()"  color="primary">
  Salvar
</button>

<button mat-raised-button color="primary"(click)="cancel()" >
Cancelar
</button>

</mat-card>


</div>



