<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Formulário de registro Airbnb</title>

</head>
<body>
  <div id="main-container">
    <h1>Cadastro de hospedagem</h1>
    <form id="register-form">
      <div class="full-box">
        <label for="description">Descrição:</label>
        <input  type="text" [(ngModel)]="imovel.descricao" name="description" id="description" placeholder="Descrição">
      </div>
      <div class="half-box spacing">
        <input type="checkbox" [(ngModel)]="imovel.wifi" name="Wifi" id="isWifi">
        <label for="checkbox"  id="isWifi">Possuí Wi-Fi?</label>
      </div>
      <div class="half-box">
        <input type="checkbox" [(ngModel)]="imovel.tv" name="TV" id="isTV">
        <label for="checkbox" id="isTV">Possui TV?</label>
      </div>
      <div class="half-box spacing">
        <input type="checkbox" [(ngModel)]="imovel.cozinha" name="Kitchen" id="isKitchen">
        <label for="isKitchen" id="isKitchen">Possui cozinha?</label>
      </div>
      <div class="half-box spacing">
        <label for="price">Preço:</label>
        <input type="text" [(ngModel)]="imovel.preco" name="price" id="price" placeholder="Digite um valor">
      </div>
      <div class="full-box">
        <input id="btn-submit" type="submit" value="Registrar" (click)="postImovel()">
      </div>
    </form>
  </div>
  <p class="error-validation template"></p>
  <script src="js/scripts.js"></script>
</body>
</html>
